# Week 3:
In this week a short object services, list, sets, dictionarys and nested list were introduced

In [3]:
#Object services used in lecture

setning = "hallo"

print(setning.upper())

print(setning.count("l"))

#Used ezgraphics, but this was not part of the curriculum

HALLO
2

## Lists

In [23]:
#Define lists
empty_list = []
my_list = [0] * 4 #zeros_list = [0,0,0,0]
print(my_list)

#Edit lists
my_list[0] = 5 #Change element based on index
print(my_list)
my_list.append(1) #Add a new element at the end of the list, will not work for string. (immutable)
print(my_list)

#Concatenate lists
my_list2 = [2] * 5
con_list = my_list + my_list2
print(con_list)
print([50,76]+[87,96])

#Allows for different datatypes
str_list = ["Oslo", "Bergen"]
float_list = [1.2,2.9,1.0]
int_list = [2,3,4]

#Allows for different datatypes in same list, not recommended.
combined_list = str_list + float_list + int_list
print(combined_list)

#Number of elements in list, i.e length of the list
list_len = len(my_list)
print(list_len)

#Find a spesific value is in the list
print("Bergen" in combined_list)
print("Stavanger" in combined_list)

#Find number of occurences of value in list
n = con_list.count(2)
print(f"2 appears {n} times in con_list")

#Sort values in list
print(f"Unsorted={con_list}")
sort_list = sorted(con_list) #This also works for chars. Reason we dont mix datatypes
print(f"Sorted={sort_list}")

#Create list from a string
my_string = "hei"
print(list(my_string))

[0, 0, 0, 0]
[5, 0, 0, 0]
[5, 0, 0, 0, 1]
[5, 0, 0, 0, 1, 2, 2, 2, 2, 2]
[50, 76, 87, 96]
['Oslo', 'Bergen', 1.2, 2.9, 1.0, 2, 3, 4]
5
True
False
2 appears 5 times in con_list
Unsorted=[5, 0, 0, 0, 1, 2, 2, 2, 2, 2]
Sorted=[0, 0, 0, 1, 2, 2, 2, 2, 2, 5]
['h', 'e', 'i']

## Sets
A collection of values.\
    - No order, i.e indexing will not work (my_set[0] is invalid)\
    - Only unique values

In [31]:
#Defining sets
my_set = {1,5,1,1}
print(my_set) # {1, 5} since a set is only unique values

#Length of set
print(len(my_set)) # = 2, because there are only 2 unique values

#Find values in set
print(5 in my_set)

#Creating sets from lists
my_list = [1,5,1,1]
print(my_list)
my_set2 = set(my_list)
print(my_set2)

{1, 5}
2
True
[1, 5, 1, 1]
{1, 5}

## Dictionary

Maps a value based on a key

In [46]:
#Defining dictionaries
empty_dict = {}
capitals = {"Norway":"Oslo", "Germany":"Berlin"}
phone = {"Norway":47, "Germany":49}

#Indexing dictionaires by using keys
print(capitals["Norway"])
print(phone["Germany"])

#Add elements to a dictionary
empty_dict["Italia"] = 39
print(empty_dict["Italia"])

empty_dict.update({"Spain":"Madrid"})
print(empty_dict["Spain"])

#Using key and value in dictonary
for key, value in empty_dict.items():
    print(f"key = {key} and value = {value}")
    
#Arithmetic with dictionaries
print(phone["Germany"]-phone["Norway"])

#Search for key values in dictionary
print("Norway" in capitals)

Oslo
49
39
Madrid
key = Italia and value = 39
key = Spain and value = Madrid
2
True

## Nested lists

In [57]:
#Define 2D nested lists
nest_list = [["egg", "bacon"],["ost","agurk","tomat"]]

#First row, both colums
print(nest_list[0])
print(nest_list[0][0])
print(nest_list[0][1])

#Second row, all colums
print(nest_list[1])
print(nest_list[1][0])
print(nest_list[1][1])
print(nest_list[1][2])

#Define 3D nested lists

nest_list2 = [
    [#First 2D list
        [1,2],#Row 0
        [3,4,5]#Row 1 
    ], 
    [#Second 2D list
        [11,12],#Row 0
        [13,14,15]#Row 1
    ]
]

print(nest_list2[1][0][0])


landinfo = {"byer":{"Norge":"Oslo","Tyskland":"Berlin"}, "tlf":{"Norge":47,"Tyskland":49}}

print(landinfo["byer"]["Norge"])

['egg', 'bacon']
egg
bacon
['ost', 'agurk', 'tomat']
ost
agurk
tomat
11
Oslo

1
2
3
4
5